USE [Spin_wheel_game]
GO
/****** Object:  Table [dbo].[coin_distribution_config]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coin_distribution_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[winner_percent] [decimal](5, 2) NOT NULL,
	[admin_percent] [decimal](5, 2) NOT NULL,
	[app_percent] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[elimination_log]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[elimination_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[spin_wheel_id] [int] NOT NULL,
	[eliminated_user_id] [int] NOT NULL,
	[elimination_order] [int] NOT NULL,
	[remaining_players] [int] NOT NULL,
	[eliminated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refunds]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refunds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[spin_wheel_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[refunded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spin_wheel_participants]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spin_wheel_participants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[spin_wheel_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[entry_fee_paid] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[eliminated_at] [datetime2](7) NULL,
	[elimination_order] [int] NULL,
	[joined_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uix_one_entry_per_wheel] UNIQUE NONCLUSTERED 
(
	[spin_wheel_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spin_wheels]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spin_wheels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[entry_fee] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[config_id] [int] NOT NULL,
	[winner_pool] [decimal](18, 2) NOT NULL,
	[admin_pool] [decimal](18, 2) NOT NULL,
	[app_pool] [decimal](18, 2) NOT NULL,
	[winner_user_id] [int] NULL,
	[auto_start_at] [datetime2](7) NOT NULL,
	[started_at] [datetime2](7) NULL,
	[finished_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auto_start_seconds] [int] NOT NULL,
	[elimination_interval_seconds] [int] NOT NULL,
	[min_participants] [int] NOT NULL,
	[updated_by] [int] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[spin_wheel_id] [int] NULL,
	[type] [nvarchar](30) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[balance_before] [decimal](18, 2) NOT NULL,
	[balance_after] [decimal](18, 2) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[coin_balance] [decimal](18, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[winners]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[winners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[spin_wheel_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[amount_won] [decimal](18, 2) NOT NULL,
	[declared_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[spin_wheel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[coin_distribution_config] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[coin_distribution_config] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coin_distribution_config] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[elimination_log] ADD  DEFAULT (getutcdate()) FOR [eliminated_at]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT (getutcdate()) FOR [refunded_at]
GO
ALTER TABLE [dbo].[spin_wheel_participants] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[spin_wheel_participants] ADD  DEFAULT (getutcdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT ('waiting') FOR [status]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT ((0.00)) FOR [winner_pool]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT ((0.00)) FOR [admin_pool]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT ((0.00)) FOR [app_pool]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[spin_wheels] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((180)) FOR [auto_start_seconds]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((7)) FOR [elimination_interval_seconds]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((3)) FOR [min_participants]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0.00)) FOR [coin_balance]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[winners] ADD  DEFAULT (getutcdate()) FOR [declared_at]
GO
ALTER TABLE [dbo].[coin_distribution_config]  WITH CHECK ADD  CONSTRAINT [fk_config_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[coin_distribution_config] CHECK CONSTRAINT [fk_config_created_by]
GO
ALTER TABLE [dbo].[elimination_log]  WITH CHECK ADD  CONSTRAINT [fk_elim_user] FOREIGN KEY([eliminated_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[elimination_log] CHECK CONSTRAINT [fk_elim_user]
GO
ALTER TABLE [dbo].[elimination_log]  WITH CHECK ADD  CONSTRAINT [fk_elim_wheel] FOREIGN KEY([spin_wheel_id])
REFERENCES [dbo].[spin_wheels] ([id])
GO
ALTER TABLE [dbo].[elimination_log] CHECK CONSTRAINT [fk_elim_wheel]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [fk_refund_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [fk_refund_user]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [fk_refund_wheel] FOREIGN KEY([spin_wheel_id])
REFERENCES [dbo].[spin_wheels] ([id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [fk_refund_wheel]
GO
ALTER TABLE [dbo].[spin_wheel_participants]  WITH CHECK ADD  CONSTRAINT [fk_participant_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[spin_wheel_participants] CHECK CONSTRAINT [fk_participant_user]
GO
ALTER TABLE [dbo].[spin_wheel_participants]  WITH CHECK ADD  CONSTRAINT [fk_participant_wheel] FOREIGN KEY([spin_wheel_id])
REFERENCES [dbo].[spin_wheels] ([id])
GO
ALTER TABLE [dbo].[spin_wheel_participants] CHECK CONSTRAINT [fk_participant_wheel]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [fk_wheel_config] FOREIGN KEY([config_id])
REFERENCES [dbo].[coin_distribution_config] ([id])
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [fk_wheel_config]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [fk_wheel_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [fk_wheel_created_by]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [fk_wheel_winner] FOREIGN KEY([winner_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [fk_wheel_winner]
GO
ALTER TABLE [dbo].[system_settings]  WITH CHECK ADD  CONSTRAINT [fk_settings_user] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[system_settings] CHECK CONSTRAINT [fk_settings_user]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_txn_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_txn_user]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [fk_txn_wheel] FOREIGN KEY([spin_wheel_id])
REFERENCES [dbo].[spin_wheels] ([id])
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [fk_txn_wheel]
GO
ALTER TABLE [dbo].[winners]  WITH CHECK ADD  CONSTRAINT [fk_winner_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[winners] CHECK CONSTRAINT [fk_winner_user]
GO
ALTER TABLE [dbo].[winners]  WITH CHECK ADD  CONSTRAINT [fk_winner_wheel] FOREIGN KEY([spin_wheel_id])
REFERENCES [dbo].[spin_wheels] ([id])
GO
ALTER TABLE [dbo].[winners] CHECK CONSTRAINT [fk_winner_wheel]
GO
ALTER TABLE [dbo].[coin_distribution_config]  WITH CHECK ADD  CONSTRAINT [chk_config_admin] CHECK  (([admin_percent]>=(0)))
GO
ALTER TABLE [dbo].[coin_distribution_config] CHECK CONSTRAINT [chk_config_admin]
GO
ALTER TABLE [dbo].[coin_distribution_config]  WITH CHECK ADD  CONSTRAINT [chk_config_app] CHECK  (([app_percent]>=(0)))
GO
ALTER TABLE [dbo].[coin_distribution_config] CHECK CONSTRAINT [chk_config_app]
GO
ALTER TABLE [dbo].[coin_distribution_config]  WITH CHECK ADD  CONSTRAINT [chk_config_percents] CHECK  (((([winner_percent]+[admin_percent])+[app_percent])=(100.00)))
GO
ALTER TABLE [dbo].[coin_distribution_config] CHECK CONSTRAINT [chk_config_percents]
GO
ALTER TABLE [dbo].[coin_distribution_config]  WITH CHECK ADD  CONSTRAINT [chk_config_winner] CHECK  (([winner_percent]>(0)))
GO
ALTER TABLE [dbo].[coin_distribution_config] CHECK CONSTRAINT [chk_config_winner]
GO
ALTER TABLE [dbo].[spin_wheel_participants]  WITH CHECK ADD  CONSTRAINT [chk_participant_status] CHECK  (([status]='refunded' OR [status]='winner' OR [status]='eliminated' OR [status]='active'))
GO
ALTER TABLE [dbo].[spin_wheel_participants] CHECK CONSTRAINT [chk_participant_status]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [chk_wheel_entry_fee] CHECK  (([entry_fee]>(0)))
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [chk_wheel_entry_fee]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [chk_wheel_pools] CHECK  (([winner_pool]>=(0) AND [admin_pool]>=(0) AND [app_pool]>=(0)))
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [chk_wheel_pools]
GO
ALTER TABLE [dbo].[spin_wheels]  WITH CHECK ADD  CONSTRAINT [chk_wheel_status] CHECK  (([status]='aborted' OR [status]='finished' OR [status]='active' OR [status]='waiting'))
GO
ALTER TABLE [dbo].[spin_wheels] CHECK CONSTRAINT [chk_wheel_status]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [chk_txn_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [chk_txn_amount]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [chk_txn_type] CHECK  (([type]='manual_debit' OR [type]='manual_credit' OR [type]='refund_credit' OR [type]='app_pool_credit' OR [type]='admin_pool_credit' OR [type]='winner_pool_credit' OR [type]='entry_fee_debit'))
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [chk_txn_type]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_balance] CHECK  (([coin_balance]>=(0)))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_balance]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_users_role] CHECK  (([role]='admin' OR [role]='user'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_users_role]
GO
/****** Object:  StoredProcedure [dbo].[sp_abort_and_refund]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_abort_and_refund]
    @spin_wheel_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;

        -- Lock and verify wheel
        DECLARE @status NVARCHAR(20);
        SELECT @status = status
        FROM spin_wheels WITH (UPDLOCK, ROWLOCK)
        WHERE id = @spin_wheel_id;

        IF @status != 'waiting'
        BEGIN
            ROLLBACK;
            RAISERROR('Only waiting wheels can be aborted', 16, 1);
            RETURN;
        END

        -- Refund all participants
        UPDATE u
        SET u.coin_balance = u.coin_balance + p.entry_fee_paid,
            u.updated_at   = GETUTCDATE()
        FROM users u
        INNER JOIN spin_wheel_participants p ON p.user_id = u.id
        WHERE p.spin_wheel_id = @spin_wheel_id AND p.status = 'active';

        -- Record refund transactions
        INSERT INTO transactions
            (user_id, spin_wheel_id, type, amount, balance_before, balance_after, description)
        SELECT
            p.user_id,
            @spin_wheel_id,
            'refund_credit',
            p.entry_fee_paid,
            u.coin_balance - p.entry_fee_paid,  -- balance before refund
            u.coin_balance,                      -- balance after refund
            CONCAT('Refund from aborted wheel #', @spin_wheel_id)
        FROM spin_wheel_participants p
        INNER JOIN users u ON u.id = p.user_id
        WHERE p.spin_wheel_id = @spin_wheel_id AND p.status = 'active';

        -- Mark participants as refunded
        UPDATE spin_wheel_participants
        SET status = 'refunded'
        WHERE spin_wheel_id = @spin_wheel_id AND status = 'active';

        -- Mark wheel as aborted
        UPDATE spin_wheels
        SET status     = 'aborted',
            updated_at = GETUTCDATE()
        WHERE id = @spin_wheel_id;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_join_spin_wheel]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_join_spin_wheel]
    @spin_wheel_id  INT,
    @user_id        INT,
    @entry_fee      DECIMAL(18, 2),
    @winner_pct     DECIMAL(5, 2),
    @admin_pct      DECIMAL(5, 2),
    @app_pct        DECIMAL(5, 2)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;  -- auto rollback on any error

    BEGIN TRANSACTION;

        -- 1. Lock and check user balance
        DECLARE @balance DECIMAL(18, 2);
        SELECT @balance = coin_balance
        FROM users WITH (UPDLOCK, ROWLOCK)
        WHERE id = @user_id;

        IF @balance IS NULL
        BEGIN
            ROLLBACK;
            RAISERROR('User not found', 16, 1);
            RETURN;
        END

        IF @balance < @entry_fee
        BEGIN
            ROLLBACK;
            RAISERROR('Insufficient coins', 16, 1);
            RETURN;
        END

        -- 2. Check wheel is still in 'waiting' status
        DECLARE @wheel_status NVARCHAR(20);
        SELECT @wheel_status = status
        FROM spin_wheels WITH (UPDLOCK, ROWLOCK)
        WHERE id = @spin_wheel_id;

        IF @wheel_status != 'waiting'
        BEGIN
            ROLLBACK;
            RAISERROR('Wheel is not accepting players', 16, 1);
            RETURN;
        END

        -- 3. Deduct coins from user
        UPDATE users
        SET coin_balance = coin_balance - @entry_fee,
            updated_at   = GETUTCDATE()
        WHERE id = @user_id;

        -- 4. Add participant record
        INSERT INTO spin_wheel_participants
            (spin_wheel_id, user_id, entry_fee_paid, status)
        VALUES
            (@spin_wheel_id, @user_id, @entry_fee, 'active');

        -- 5. Update wheel pools
        UPDATE spin_wheels
        SET winner_pool = winner_pool + (@entry_fee * @winner_pct / 100),
            admin_pool  = admin_pool  + (@entry_fee * @admin_pct  / 100),
            app_pool    = app_pool    + (@entry_fee * @app_pct    / 100),
            updated_at  = GETUTCDATE()
        WHERE id = @spin_wheel_id;

        -- 6. Record transaction
        INSERT INTO transactions
            (user_id, spin_wheel_id, type, amount, balance_before, balance_after, description)
        VALUES
            (@user_id, @spin_wheel_id, 'entry_fee_debit', @entry_fee,
             @balance, @balance - @entry_fee,
             CONCAT('Joined spin wheel #', @spin_wheel_id));

    COMMIT TRANSACTION;
END;


-- ============================================================
-- 10. STORED PROCEDURE: ATOMIC WINNER PAYOUT
-- ============================================================
GO
/****** Object:  StoredProcedure [dbo].[sp_payout_winner]    Script Date: 15-03-2026 06:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_payout_winner]
    @spin_wheel_id  INT,
    @winner_user_id INT,
    @admin_user_id  INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;

        -- Lock the wheel
        DECLARE @winner_pool DECIMAL(18,2), @admin_pool DECIMAL(18,2), @status NVARCHAR(20);
        SELECT
            @winner_pool = winner_pool,
            @admin_pool  = admin_pool,
            @status      = status
        FROM spin_wheels WITH (UPDLOCK, ROWLOCK)
        WHERE id = @spin_wheel_id;

        IF @status != 'active'
        BEGIN
            ROLLBACK;
            RAISERROR('Wheel is not in active state', 16, 1);
            RETURN;
        END

        -- Get balances before
        DECLARE @winner_balance DECIMAL(18,2), @admin_balance DECIMAL(18,2);
        SELECT @winner_balance = coin_balance FROM users WHERE id = @winner_user_id;
        SELECT @admin_balance  = coin_balance FROM users WHERE id = @admin_user_id;

        -- Credit winner
        UPDATE users
        SET coin_balance = coin_balance + @winner_pool,
            updated_at   = GETUTCDATE()
        WHERE id = @winner_user_id;

        -- Credit admin
        UPDATE users
        SET coin_balance = coin_balance + @admin_pool,
            updated_at   = GETUTCDATE()
        WHERE id = @admin_user_id;

        -- Mark wheel finished
        UPDATE spin_wheels
        SET status         = 'finished',
            winner_user_id = @winner_user_id,
            finished_at    = GETUTCDATE(),
            updated_at     = GETUTCDATE()
        WHERE id = @spin_wheel_id;

        -- Mark winner in participants
        UPDATE spin_wheel_participants
        SET status = 'winner'
        WHERE spin_wheel_id = @spin_wheel_id AND user_id = @winner_user_id;

        -- Record winner transaction
        INSERT INTO transactions
            (user_id, spin_wheel_id, type, amount, balance_before, balance_after, description)
        VALUES
            (@winner_user_id, @spin_wheel_id, 'winner_pool_credit', @winner_pool,
             @winner_balance, @winner_balance + @winner_pool,
             CONCAT('Won spin wheel #', @spin_wheel_id));

        -- Record admin transaction
        INSERT INTO transactions
            (user_id, spin_wheel_id, type, amount, balance_before, balance_after, description)
        VALUES
            (@admin_user_id, @spin_wheel_id, 'admin_pool_credit', @admin_pool,
             @admin_balance, @admin_balance + @admin_pool,
             CONCAT('Admin cut from spin wheel #', @spin_wheel_id));

    COMMIT TRANSACTION;
END;

-- ============================================================
-- 11. STORED PROCEDURE: ATOMIC ABORT + REFUND
-- ============================================================
GO
